<%
if(!props) {
  const props = {
    classNames: 'string',
  }
}
-%>
<div class="c-modal-dialog <%= props.classNames ?? null %>">
  <dialog class="" open>
    <p>Greetings, one and all!</p>
    <form method="dialog">
      <button>OK</button>
    </form>
  </dialog>
</div>