@use "../../foundation" as *;

.c-responsive-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px;
  text-align: center;
  @include mq-up(sm) {
    padding: 0;
  }
}
