---
layout: layouts/BaseLayout/l-BaseLayout.ejs
title: "ダイアログ（モーダル）のサンプル"
permalink: "dialog.html"
---
<main>
  <h1>ダイアログ（モーダル）のサンプル</h1>

  <%- include('../../_includes/components/c-modal-dialog.ejs', {props: {}}) %>
  <%- include('../../_includes/components/c-form/c-form-modal-dialog.ejs') %>
  <style>
    /* リセットされていて見づらいので可視化 */
    button {
      border: 1px solid #000;
      border-radius: 4px;
      background-color: #f7f7f7;
      padding: 0.25em 0.5em;
    }

    label:has(select),
    label div:has(select) {
      display: flex;
      align-items: center;
    }

    label div:has(select) {
      border: 2px solid #CCC;
      border-radius: 50em;
      position: relative;
    }

    label div:has(select) select {
      padding: 1em 1.5em 1em 1em;
      cursor: pointer;
    }

    label div:has(select)::after {
      position: absolute;
      left: auto;
      right: 0.75em;
      top: 0;
      bottom: 0;
      margin: auto;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 0.4em solid #000;
      border-left: .25em solid transparent;
      border-right: .25em solid transparent;
    }
  </style>

  <div>
    <p>下記URLを参考にしています。</p>
    <a href="https://developer.mozilla.org/ja/docs/Web/HTML/Element/dialog" target="_blank" rel="noopener noreferrer">dialog: ダイアログ要素</a>
  </div>
</main>