---
layout: layouts/BaseLayout/l-BaseLayout.ejs
title: "タイトル"
permalink: "index.html"
---
<main>
  <h1>This is TOP page</h1>
  <div id="jquery-elm"></div>
  <ul>
    <li>
      <a href="/img.html">レスポンシブ画像対応サンプル</a>
    </li>
    <li>
      <a href="/dialog.html">dialogタグの使い方（モーダル）</a>
    </li>
  </ul>
</main>