---
layout: layouts/BaseLayout/l-BaseLayout.ejs
title: "タイトル"
permalink: "index.html"
---
<main>
  <h1>This is TOP page</h1>
  <div id="jquery-elm"></div>
  <ul>
    <li>
      <a href="/img.html">レスポンシブ画像対応サンプル</a>
    </li>
    <li>
      <a href="/dialog.html">dialogタグの使い方（モーダル）</a>
    </li>
  </ul>
  <%- include('../_includes/components/c-test.ejs', {props: {}}) -%>

  <section>
    <h2>イベントのキャプチャとバブリング</h2>
    <div class="div">
      <ul class="row row-cols-3">
        <% for(let i = 0; i < 10; i++) { %>
        <li class="li" style="border: 10px solid #000;">
          <!-- <a class="clickme" href="javascript:void(0);"> -->
          <button type="button" class="clickme">
            ここをクリック！！！
          </button>
          <!-- </a> -->
        </li>
        <% } %>
      </ul>
    </div>
  </section>
  <div id="div1">
    <div id="div2">
      <div id="div3" style="width:100px;height:100px;border:1px solid #555"></div>
    </div>
  </div>
</main>