<%
if(!typeof props){
  const props = {
    classNames: 'string',
  }
}
%>
<header class="l-base-header <%= props.classNames || null %>">
  <nav>
    <ul>
      <li><a href="/">TOPページ</a></li>
    </ul>
  </nav>
</header>